@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 507px;
            column-gap: 50px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2, minmax(115px, auto))/repeat(2, 243px);
            &-item {
                grid-template-columns: 40px 192px;
                column-gap: 10px;
            }
        }
    }
    .resume {
        padding-top: 100px;
        &__wrapper {
            padding: 60px 0 0 0;
            column-gap: 107px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3, 270px);
            justify-content: center;
        }
    }
    .progress {
        &__block {
            width: 300px;
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .about {
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: 300px 377px;
            column-gap: 40px;
        }
        &__subtitle {
            font-size: 31px;
        }
        &__skills {
            grid-template-columns: 360px;
            grid-auto-rows: minmax(115px, auto);
            &-item {
                grid-template-columns: 40px 307px;
            }
        }
    }
    .resume {
        padding-top: 50px;
        &__subtitle {
            font-size: 31px;
        }
        &__wrapper {
            padding: 50px 0 0 0;
            column-gap: 80px;
            grid-template-columns: repeat(2, 318px);
        }
    }
    .skills {
        &__subtitle {
            font-size: 31px;
        }
        &__wrapper {
            grid-template-columns: repeat(2, 270px);
            justify-content: center;
        }
    }
    .progress {
        &__wrapper {
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        &_fz48 {
            font-size: 28px;
        }
    }
    .menu {
        &__link {
            &:focus {
                a {
                    text-decoration: underline;
                    color: $main_hover;
                }
                &:before {
                    background-color: white;
                }
            }
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;

        }
        .hamburger {
            right: 20px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 100%;
            grid-template-rows: 525px auto 155px;
        }
        &__photo {
            grid-row: unset;
            img {
                width: 65%;
                display: block;
                margin: 0 auto;
            }
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 206px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 100%;
            row-gap: 40px;
        }
    }
    .skills {
        padding-top: 50px;
        padding-bottom: 50px;
        &__wrapper {
            grid-template-columns: repeat(2, 260px);
            grid-template-rows: repeat(2, 260px);
            grid-auto-rows: 260px;
            column-gap: 13px;
            row-gap: 13px;
        }
        &__block {
            padding: 20px;
            width: 260px;
            height: 260px;
        }
    }
    .progress {
        &__block {
            width: 350px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        &_fz48 {
            font-size: 26px;
        }
    }
    .menu {
        &__block {
            width: 275px;
            padding-left: 15px;
        }
        &__link {
            font-size: 20px;
            line-height: 30px;
        }
    }
    .promo {
        background: url("../img/main_bg.jpg") 45% 0 /cover no-repeat;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template-rows: 405px auto auto;
        }
        &__photo {
            img {
                width: 269px;
            }
        }
        &__subtitle {
            font-size: 24px;
        }
        &__skills {
            grid-template-columns: 270px;
            &-item {
                grid-template-columns: 40px 217px;
            }
        }
    }
    .resume {
        &__subtitle {
            font-size: 24px;
        }
        .divider {
            margin: 0 auto;
        }
        &__wrapper {
            padding: 40px 0 0 0;
        }
    }
    .skills {
        &__subtitle {
            font-size: 24px;
            line-height: 36px;
            padding-top: 15px;
            width: 218px;
            margin: 0 auto;
        }
        .divider {
            margin: 10px auto 0 auto;
        }
        &__wrapper {
            margin-top: 25px;
            grid-template-columns: 100%;
        }
        &__block {
            margin: 0 auto;
        }
    }
    .progress {
        &__block {
            width: 100%;
        }
    }
}